header{
   padding: 20px;
   background-color: rgb(100, 100, 203);
   color: beige;
   text-align: center;
   margin-bottom: 10px;
   border-bottom: 5px solid black;
}
.container{
   width: 80%;
   margin-left: 30px;
   padding: 10px;
}
.addClass {
   background: #f66668;
   border-radius: 50% 0 50% 0;
   width: 200px;
   height: 80px;
   line-height: 60px;
   text-align: center;
}